.membercard{
    position: relative;
    width: 150px;
    height: 185px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    z-index : 100;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.membercard .info {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
}

.panel-heading{
    text-align: left;
    opacity: 0;
    transition: opacity 0.5s;
}

.panel-heading:hover{
    opacity: 100;
}

.member-avatar{
    width: 100%;
    height: 118px;
    position: relative;
}

.member-avatar img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info{
    width: 100%;
    word-wrap: break-word;;
    /*color: white;*/
    font-weight: bold;
}

.membercard .dropdown button{
    border: none;
}

.member-modal-avatar{
    margin: 0 2em 1em 2em;
}

/* Custom Tooltip Bootstrap*/

/*.tooltip > .tooltip-inner {
    background-color: #cc6055;
    color: white;
    font-size: 1.2em;
    position: relative;
    top: 0;
    left: 50px;
}*/

/* ~~~ */


/*------------------*/
/***Winston Effect***/
/*------------------*/

/*Modify*/
.effect-winston {
    /*background: #162633;*/
    /*text-align: left;*/
    position: relative;
}

.effect-winston img {
    -webkit-transition: opacity 0.45s;
    transition: opacity 0.45s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /*height: 7em;*/
}

.effect-winston figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: url(../images/avatar-default.png) no-repeat center center;*/
    background-size: 100% 100%;
    content: '';
    -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
    transition: opacity 0.45s, transform 0.45s;
    -webkit-transform: rotate3d(0,0,1,45deg);
    transform: rotate3d(0,0,1,45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.effect-winston h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

/*Modify*/
.effect-winston p {
    /*display: none;
    position: relative;
    right: 0;
    bottom: -6em;*/
    position: absolute;
    top: 4em;

    /* Add padding cause strange errors */
    padding: 1em;
}

.effect-winston a {
    margin: 0 10px;
    color: #5d504f;
    font-size: 170%;
}

/*Modify*/
.effect-winston p a{
    border: none;
    outline: none;
}

.effect-winston p a span{
    display: none;
}

/* Hover icon Edit , Add Relative , Delete */

/* General */
.effect-winston p a:hover {
    color: #cc6055;
    background: none;
    border: none;

    -webkit-transform:scale(1.8); /* Safari and Chrome */
    -moz-transform:scale(1.8); /* Firefox */
    -ms-transform:scale(1.8); /* IE 9 */
    -o-transform:scale(1.8); /* Opera */
    transform:scale(1.8);
}

/* Edit icon */
.effect-winston p a:nth-child(1):hover {
    color: #337ab7;

}

/* Add Relative icon */
.effect-winston p a:nth-child(2):hover {
    color: #4CAF50;

}

/* ~~~ */

/*Modify*/
.effect-winston p a i {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,-4em,0);
}

.effect-winston:hover{
    /*opacity: 0.5;*/
}

.effect-winston:hover p{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(44,62,80,0.9);
}

.effect-winston:hover a{
    color:white;
    display: block;
    padding: 1em;
    width: 120%;
    margin : 0 -1em;
}

.effect-winston:hover p a span{
    display: inline;
}

.effect-winston:hover img {
    /*opacity: 1;*/
}

.effect-winston:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.effect-winston:hover figcaption::before {
    opacity: 0.7;
    -webkit-transform: rotate3d(0,0,1,20deg);
    transform: rotate3d(0,0,1,20deg);
}

.effect-winston:hover p i {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.effect-winston:hover p a:nth-child(3) i {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.effect-winston:hover p a:nth-child(2) i {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.effect-winston:hover p a:first-child i {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

/*~~~*/
