.modal .modal-body{
    margin: 0 1.3em;
}

.modal .modal-header{
    font-weight: bolder;
}

.modal .error-msg{
    color:red;
}

.modal label {
  word-wrap: normal;
}

.label-for-guest {
    position: relative;
    bottom: -0.5em;
    color: gray;
}
